# gitignore template for LangChain products, e.g., LangGraph, LangSmith
# website: https://www.langchain.com/
# website: https://www.langchain.com/langgraph

# LangGraph
.langgraph_api/
node_modules/
**/.env
**/.env.*
.venv/
.idea/
.vscode/
__pycache__/
*.pyc
*.pyo
*.pyd
test-Auto-AVSR/backend/checkpoints/*.pth
test-Auto-AVSR/backend/checkpoints/*.pt
test-Auto-AVSR/backend/checkpoints/*.ckpt
test-Auto-AVSR/backend/checkpoints/*.bin
test-Auto-AVSR/backend/checkpoints/*.safetensors
