fastapi==0.115.12
uvicorn[standard]==0.34.2
python-multipart==0.0.20
python-dotenv==1.0.1
numpy
av
torch
torchaudio
torchvision
opencv-python
scikit-image
sentencepiece
espnet
pytorch-lightning
mediapipe
